body.overlay-grid::after {
	content: "";
	display: block;
	height: 1000px;

	position: absolute;
	top: 0; left: 50%;
	transform: translateX(-50%);

	/*background-image: url("images/grid-pattern.png");*/
	/*background-image: linear-gradient(to right, 
		rgba(16,0,255,0.2) 0px,
		rgba(16,0,255,0.2) 20px,
		rgba(255,0,0,0.2) 21px,
		rgba(255,0,0,0.2) 108px,
		rgba(25,0,255,0.2) 109px,
		rgba(16,0,255,0.2) 100%);*/
	background-image: linear-gradient(to right, 
		rgba(255,0,0,0.2) 0px,
		rgba(255,0,0,0.2) 108px,
		rgba(25,0,255,0.2) 109px,
		rgba(16,0,255,0.2) 100%),
		linear-gradient(to bottom,
			rgba(255,0,0,0) 0px,
			rgba(255,0,0,0) 23px,
			rgba(255,0,0,0.2) 24px);
	background-size: 128px 24px;
	background-repeat: repeat;
}

body.overlay-grid::after,
.container {
	width: 1260px;
	margin-left: auto;
	margin-right: auto;
}
/*
full = 1280
10개 컬럼
col 96
margin 32
*/
.col::after {
	content: "";
	display: block;
	clear: both;
}

[class*="col"]{
	float: left;
	/*background-color: rgba(0, 0, 0, 0.2);*/
	margin-right: 20px;
}

[class*="col"]:last-child {
	margin-right: 0;
}

.col1 {
	width: 108px;
}

.col2 {
	width: 236px;
}

.col3 {
	width: 364px;
}

.col4 {
	width: 492px;
}

.col5 {
	width: 620px;
}

.col6 {
	width: 748px;
}

.col7 {
	width: 876px;
}

.col8 {
	width: 1004px;
}

.col9 {
	width: 1132px;
}

.col10 {
	width: 1260px;
}