html, body {
	width: 100%;
	height: 100%;
}

body {
	background: radial-gradient(ellipse at center, 
		rgba(254,255,255,1) 0%,
		rgba(210,235,249,1) 100%);
	text-align: center;
}


.buttonset-movie-control {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.buttonset-movie-control button {
	position: relative;
	padding: 5px 25px;
	float: left;

	font-size: 12px;
	color: #fff;

	box-sizing: border-box;
	border: none;

	background-image: linear-gradient(to bottom, 
		rgba(167,207,223,1) 0%,
		rgba(35,83,138,1) 100%);
}

.buttonset-movie-control button:hover {
	box-shadow: inset 0 0 25px #444;
	transition: 0.3s
}

.buttonset-movie-control button:focus {
	outline: none;
}

.buttonset-movie-control button:active {
	color: #000;
}

.buttonset-movie-control>button:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.buttonset-movie-control>button:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;	
}

.buttonset-movie-control>button span {
	position: absolute;
	left: 10px; top: 3px;
	margin: auto;
	font-size: 0.63rem;
}


